

body{
	padding: 0px;
	margin: 0px;
}

#td-2nd{
	width : 700px;
}

/*
#filetable{
	border-width : 1px;
	border-style: solid;
	border-bottom-color: #CFC5C5;
}

#filetable td{
	border-width : 1px;
	border-style: solid;
	border-bottom-color: #CFC5C5;
}*/
